$index-main:(
    texto: center,
    margen1in: 200px 0 700px 0,
);

$pary-parrafo:(
    textosize: 20px,
    margen: 10px 0 10px 0,
    textoalign: center,
);

// para el body_index
$body_index:(
    color: white,
    back-repeat: no-repeat,
    back-position: center,
    back-size: cover,
    heig-ht: 1800px,
);

