// Para el inicio de todo
$padd-inicio: 0px;
$marg-inicio: 0px;

// Para los li del footer
$dis-footer: inline-block;

// para los ul
$ol-ul: center;

// font family para el bodyurban
$ff-bodyurban: "Bodoni Moda", serif;

// para las imagenes
$wid-img: 400px;
$heig-img: 500px;

